# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Code\tmail\tmail\.idea/dataSources/
/../../../../../:\Code\tmail\tmail\target/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
